.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 50px;
}

.container h1 {
  font-size: 2em;
}

.displayTimer {
  font-weight: 100;
  font-size: 2.5em;
  color: #3c3cc6;
  margin: 21px;
}

.action {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 5px;
}


.action button,
.action input {
  background-color: #fff;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px;
  outline: none;
  transition: all 0.4s;
  cursor: pointer;
}

.action button:hover {
  background-color: #8a9ef7;
}

.action button:first-of-type {
  background-color: #8484f2;
}

.action button:first-of-type:hover,
.action button:first-of-type:disabled,
.action input:disabled {
  background-color: #d5dbf8;
}

.action button:first-of-type:disabled,
.action input:disabled {
  cursor: unset;
}